atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" and sys_platform == "win32" or python_version >= "3.6" and python_version <= "3.9" and sys_platform == "win32" and python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.5.0"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.6.0"
charset-normalizer==2.0.4; python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.6.0"
click-aliases==1.0.1; python_version >= "3.6" and python_version <= "3.9"
click-completion==0.5.2; python_version >= "3.6" and python_version <= "3.9"
click-didyoumean==0.0.3; python_version >= "3.6" and python_version <= "3.9"
click-help-colors==0.9.1; python_version >= "3.6" and python_version <= "3.9"
click-option-group==0.5.3; python_version >= "3.6" and python_version <= "3.9"
click-skeleton==0.15; python_version >= "3.6" and python_version <= "3.9"
click==8.0.1; python_version >= "3.6" and python_version <= "3.9"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and python_version <= "3.9" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0" and python_version <= "3.9" and platform_system == "Windows"
defopt==6.1.0; python_version >= "3.5"
docutils==0.17.1; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
idna==3.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.6.0"
inflection==0.5.1; python_version >= "3.5"
iniconfig==1.1.1; python_version >= "3.6" and python_version <= "3.9"
jinja2==3.0.1; python_version >= "3.6" and python_version <= "3.9"
makefun==1.11.3
markupsafe==2.0.1; python_version >= "3.6" and python_version <= "3.9"
munch==2.5.0; python_version >= "3.6" and python_version <= "3.9"
ordered-set==4.0.2; python_version >= "3.5"
packaging==21.0; python_version >= "3.6" and python_version <= "3.9"
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.4.0"
pockets==0.9.1; python_version >= "3.5"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.4.0"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.3.0"
pytest-click==1.0.2; python_version >= "3.6" and python_version <= "3.9"
pytest==6.2.4; python_version >= "3.6" and python_version <= "3.9"
requests==2.26.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.6.0"
returns==0.16.0; python_version >= "3.7" and python_version < "4.0"
semver==2.13.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.4.0"
shellingham==1.4.0; python_version >= "3.6" and python_version <= "3.9"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_full_version >= "3.3.0" and python_version >= "3.6" and python_version <= "3.9"
sphinxcontrib-napoleon==0.7; python_version >= "3.5"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_version >= "3.6" and python_version <= "3.9" and python_full_version >= "3.3.0"
types-requests==2.25.6; python_version >= "3.6" and python_version <= "3.9"
typing-extensions==3.10.0.0; python_version >= "3.7" and python_version < "4.0"
urllib3==1.26.6; python_version >= "3.6" and python_full_version < "3.0.0" and python_version <= "3.9" or python_full_version >= "3.6.0" and python_version <= "3.9" and python_version >= "3.6"
